body {
    font-family: 'Commissioner', sans-serif;
    margin: 0;
}

nav, body > section {
    overflow: auto;
}

body > section {
    min-height: 100vh;
}

#nav {
    display: flex;
    justify-content: space-between;
}

nav > h1 {
    display: flex;
    align-self: center;
    padding: 1em 3em;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em 3em;
}

nav li {
    display: flex;
    align-items: center;
}

#banner {
    display: flex;
    background-image: url(./images/two-dice.png);
    background-position: center right;
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    background-color: #ffffff;
}

#banner h2, #banner p {
    color: #000000;
}

#banner p {
    padding: 0.5rem;
    background-color: #FCAF3B;
}

#banner > header {
    position: relative;
    right: 240px;
    top: 80px;
}
